<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black and White</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>

    <header class="text-center align-center my-4">
        <h1>Bienvenido</h1></header>
    <section class="m-5 p-5">
   {{{body}}}
    </section>
   </body>



<script src="/jquery/jquery.min.js"></script>
<script src="/bootstrapjs/bootstrap.bundle.min.js"></script>
<script src="/assets/js/index.js"></script>

</body>
</html>
