
<section class="container m-5">
<form action="/process" method="POST">
  <input type="text" placeholder="Ingresa tu URL" name="url">
  <button type="submit" class="btn btn-outline-light px-4">Enviar Imagen</button>
</form>
</section>
